<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Edit <%= animal.name %>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/animals">List of Animals</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/animals/<%= animal._id %>?_method=PUT" method="post">
				Name of the Animal: <input type="text" value= "<%= animal.name %>"/><br/>
				The Animal `s Age: <input type="number" value= "<%= animal.age %>"/><br/>
				species: <input type="text" name="species" value= "<%= animal.species %>"/><br/>
				<input type="submit" value="Update Animal"/>
			</form>
		</main>
	</body>
</html>