
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
	<title>Document</title>
	<%- include('../partials/header.ejs', {name: user.username}) %>
	<body>
		<header class= 'animalInfo'>
			<h1>Edit <%= animal.name %>'s Info</h1>
		</header>
		<main class= 'animalInfoList'>
			<form action="/animals/<%= animal._id %>?_method=PUT" method="POST">
				<select name="enclosureId">
					<% enclosures.forEach(enclosure => { %>
					<option value="<%= enclosure._id %>"
						<% if (enclosure && animalEnclosure) { %>
							 <% if (enclosure.id.toString() === animalEnclosure.id.toString()) { %>
							 selected <% } %>
						<% } %>>
						<%= enclosure.name %>
					</option>
						<% }) %>
				</select><br />
				Name of the Animal: <br>
				<input type="text" name= "name" value= "<%= animal.name %>"/><br/>
				The Animal's Age: <br>
				<input type="number" name= "age" value= "<%= animal.age %>"/><br/>
				Species: <br>
				<input type="text" name="species" value= "<%= animal.species %>"/><br/>
				Last Checked: <br>
				<input type="text" name="lastChecked" value= "<%= animal.lastChecked %>"/><br/>
				Last ZooKeeper: <br>
				<input type="text" name="lastKeeper" value= "<%= animal.lastKeeper %>"/><br/>
				Current Medication: <br>
				<input type="text" name="currentMeds" value= "<%= animal.currentMeds %>"/><br/>
				Image: <br>
				<input type="text" name="img" value= "<%= animal.img %>"/><br/>
				Comments: <br>
				<textarea name="comments" value= "<%= animal.comments %>"/></textarea><br/>
				<input type="submit" value="Update Animal"/>
			</form>
		</main>
	</body>
