<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
	<title>Document</title>
	<%- include('../partials/header.ejs', {name: user.username}) %>
	<body>
		<header>
			<%- include('../partials/header.ejs', {name: user.username}) %>
		</header>
		<main>
			<h1><%= animal.name %> is currently in the
				<% if (enclosure.id) { %>
					<a href="/enclosures/<%= enclosure.id %>"><%= enclosure.name %>
				<% } else { %>
					UNASSIGNED
				<% } %>  
				 Enclosure</a></h1>
			<div class="animal-img">
				<img src="<%= animal.img %>" alt="<%= animal.name %> ">
			</div>
			<ul>
				<li>Age: <%= animal.age %></li>
				<li>Species: <%= animal.species %></li>
				<li>Last Check-Up: <%= animal.lastChecked %></li>
				<li>By: <%= animal.lastKeeper %></li>
				<li>Current Meds: <%= animal.currentMeds %></li>
				<li>Last Diagnosis: <%= animal.comments %></li>
			</ul>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/animals">List of Animal</a>
					</li>
				</ul>
			</nav>
			<section>
				<%= animal.body %>
			</section>
			<section>
				<form action="/animals/<%= animal._id %>?_method=DELETE" method="POST">
					<input type="submit" value="Delete Animal">
				</form>
			</section>
			<section>
				<a href="/animals/<%=animal._id%>/edit">Edit</a>
			</section>
		</main>
	</body>
</html>