<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Enclosure: <%= enclosure.name %></h1>

    <section class="main">
        <form action="/enclosures/<%= enclosure.id %>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= enclosure.name %>" required><br>
            Keeper In Charge: <input type="text" name="keeper" value="<%= enclosure.keeper %>" required><br>
            Last Checked: <input type="date" name="lastChecked" value="<%= enclosure.lastChecked %> "><br>
            Comments: <textarea name="comments" cols="30" rows="10"><%= enclosure.comments %></textarea><br>
            Image src: <input type="url" name="img" value="<%= enclosure.img %>"><br>
            <input type="submit" value="Submit Edits">
        </form><br>
        <form action="/enclosures/<%= enclosure.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Remove Enclosure">
        </form>
    </section>
</body>
</html>