<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Document</title> -->
    <%- include('../partials/header.ejs', {name: user.username}) %>
<!-- <body> -->
    <script>0</script>
    <h1 class= 'enclosure'>Enclosures</h1>
    <section class="enclosureList">
            <% enclosures.forEach(enclosure => { %>
            <div class="enclosure-img">
                <a href="/enclosures/<%= enclosure.id %>">
                <img src="<%= enclosure.img %>" alt=""><br>
                <%= enclosure.name %><br>
                Occupancy: <%= enclosure.animals.length %>
                </a>
            </div>
            <% }) %>
    </section>
<!-- </body> -->
